body {background: #442673;
  background: -moz-linear-gradient(top,  #442673 0%, #7f53c6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#442673), color-stop(100%,#7f53c6));
  background: -webkit-linear-gradient(top,  #442673 0%,#7f53c6 100%);
  background: -o-linear-gradient(top,  #442673 0%,#7f53c6 100%);
  background: -ms-linear-gradient(top,  #442673 0%,#7f53c6 100%);
  background: linear-gradient(to bottom,  #442673 0%,#7f53c6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#442673', endColorstr='#7f53c6',GradientType=0 );
  background-attachment: fixed;
}

.jumbotron {
	background: inherit;
	color: white;
	padding-bottom: 40px
}
.jumbotron .btn-primary {
/*	background: #845ac7;*/
	border-color: #845ac7
}
.jumbotron .btn-primary:hover {
/*	background: #7646c1*/
}
.jumbotron p {
	color: #d9ccee;
	max-width: 75%;
	margin: 1em auto 2em
}
.navbar+.jumbotron {
	margin-top: -20px
}
.jumbotron .lang-logo {
	display: block;
	background: #b01302;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white
}
.jumbotron .lang-logo img {
	max-width: 100%
}
#jumbotron1 {
	margin-bottom: 0px
}
#results_div {
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px; /* so the start bg is not blue */
	background: inherit;
}
#jumbotron3 {
	margin-bottom: 0px
}
#jumbotron4 {
	margin-bottom: 0px;
	background: inherit
}
#jumbotron5 {
	margin-bottom: 0px
}
#jumbotron6 {
	margin-bottom: 0px;
	background: inherit;
}